.header-ares {
  position: fixed;
  /* 상단고정 */
  top: 0;
  left: 0;
  width: 100%;
  background-color: greenyellow;
  color: white;
  z-index: 5000;
}

.title {
  display: flex;
}

.link-back {
  display: flex;
}

.place-header {
  display: flex;
  align-items: center;
  /* .place-header안에 있는 item들을
      center로 맞춘다 .
  display: flex;
  align-items: center; 거의 세트다 */
  justify-content: space-between;
}

.my-orders {
  padding-right: 20px;
  font-size: 15px;
  font-weight: 700;
}